{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [sqlite]}
]}.

{pre_hooks,
    [{"(linux|darwin|solaris)", compile, "make -C c_src"},
        {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
    [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
        {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{ct_opts, [
    %% {ct_hooks, [cth_surefire]}, %% for GitLab CI reports
    {keep_logs, 1}
]}.
